@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
}
.background{
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(./images/bg-desktop-light.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}
.todo-container{
    width: 540px;
    padding-top: 70px;
}
.todo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 15px;
}
.moon{
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.create-todo{
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    margin-top: 48px;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 0 20px;
}
.checkbox-item{
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    border: 1px solid #E3E4F1;
    position: relative;
}
.chackbox1{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}
.input-div{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(./images/icon-check.svg), linear-gradient(rgba(85, 221, 255, 1), rgba(192, 88, 243, 1));
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}
.chackbox1:checked + .input-div{
    opacity: 1;
}
.input-text{
    color: #9495A5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
    outline: none;
    border: none;
    width: 200px;
}
ul{
    border-radius: 5px;
}
li{
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 1px solid #E3E4F1;
}
li img {
    width: 18px;
    height: 18px;
    opacity: 0;
}
li:hover img {
    opacity: 1;
}
h3{
    color: #494C6B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
}
.todo-list{
    margin-top: 24px;
    border-radius: 5px;
    background: white;
}
.ul-footer{
    width: 100%;
    height: 64px;
    background: white;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    color: #9495A5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.194px;
    cursor: pointer;
}
h4{
    color: #9495A5;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.194px;
    cursor: pointer;
}
.active-texts{
    display: flex;
    gap: 19px;
}
.all{
    color: #3A7CFD;
}
.drag{
    text-align: center;
    margin-top: 48px;
}
.mobile-footer{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    background: white;
    display: none;
}
.mobile-flex{
    display: flex;
    gap: 10px;
}
.flex-cross{
    display: flex;
    gap: 30px;
    align-items: center;
}
.darkElement{
    background: #25273D;
}

@media only screen and (max-width: 768px){
    .todo-container{
        width: 327px;
    }
    .mobile-footer{
        display: flex;
    }
    .active-texts{
        display: none;
    }
}